@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Quicksand:wght@300..700&display=swap");

* {
  /* outline: 1px solid red; */
}

:root {
  --text-color: #021526;
  --background-color: #694f8e;
  --calculator-color: #ffda76;
  --button-color: #ff8c9e;
  --button-text-color: #ff4e88;
  --screen-color: #b4d6cd;
  --highlight-color: #f5004f;
}

body {
  background-color: var(--background-color);
  color: var(--calculator-color);
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 65px 0;
}

.logo {
  text-align: right;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 8px 0;
  font-style: italic;
  color: var(--button-text-color);
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  display: flex;
  justify-content: center;
}

.calculator {
  background-color: var(--calculator-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 40px 35px;
  color: var(--text-color);
}

.display {
  height: 150px;
  background-color: var(--screen-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 18px 12px;
  box-sizing: border-box;
}

.current-display {
  font-size: 65px;
}

.memory-display {
  font-size: 32px;
}

.buttons {
  margin-top: 35px;
  display: flex;
  gap: 12px;
}

.button {
  font-size: 65px;
  width: 75px;
  height: 75px;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.number {
  background-color: var(--button-color);
  color: var(--text-color);
}

.operator {
  background-color: var(--background-color);
  color: var(--screen-color);
}

#equal-button {
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  color: #ffff;
}

.number:hover,
.operator:hover,
.operation:hover,
#equal-button:hover {
  color: var(--highlight-color);
}

#clear-button {
  background-color: var(--highlight-color);
  color: #ffff;
}

#clear-button:hover {
  color: var(--text-color);
}

#delete-button {
  background-color: var(--screen-color);
}

footer {
  font-family: "Quicksand", sans-serif;
}
